html {
  font-family: Georgia;
  color: #fff;
}

.banner-content {
  background-color: #495562;
}

.btn {
  border: 3px solid #97a49b;
  color: #efefef;
}

.btn:hover {
  border: 3px solid #fff;
  background-color: #fff;
  color: #495562;
}

@media only screen and (min-width: 38em) {

  .btn {
    float: right;
  }

}

@media only screen and (min-width: 60em) {

  .banner {
    max-height: 500px;
  }

  .banner-content {
    position: relative;
    background-image: linear-gradient(to bottom, rgba(73, 85, 98, 0), rgba(73, 85, 98, .9));
    bottom: 0;
  }

  header {
    position: absolute;
  }

  .btn {
    color: #efefef;
    border: 3px solid #efefef;
  }

}
